*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background:linear-gradient(to bottom, rgba(238, 39, 139, 0.5)50%,rgba(238, 39, 139, 0.5)50%),url(logo.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
body{
    font-size: 30px;
    font-family: fantasys;
    font-style: italic;
    font-variant-position: super;
}

h1.one{

    padding-left: 75%;
    padding-top: 15%;
    color: rgb(42, 165, 93);
}
h1.two{
    padding-left: 75%;
    color: rgb(42, 165, 93);
}
h1.three{
    padding-left: 75%;
    color: rgb(42, 165, 93);
}
.four{
    padding-right:  7%;
    padding-bottom: 3px;
    text-align: end;
    font-size: 20px;
}
.five{
    font-size:60px;
    padding-left: 10%;
    padding-top: 75%;
    color:white;
}